*{
    margin: 0;
    box-sizing: border-box;
}
img{
    border-radius: 1px;
}
:root{
    --a-color: rgb(163, 163, 236);
}
body{
    margin: 0;
    background-color: rgb(108, 216, 216);
}
ul{
    list-style-type: none;
    background-color: rgb(196, 196, 196);
    height: 100%;
    display: flex;
    width: 40%;
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(153, 149, 149);
    display: flex;
    justify-content: center;
    height: 75px;
    width: 100%;
}
ul li{
    color: rgb(157, 159, 161);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
}
li:hover{
    background-color: rgb(189, 121, 121);
}

.container{
    background-color: whitesmoke;
    margin: 0 auto;
    width: 40%;
    height: 100%;
}

#paw{
    width: 250px;
    float: left;
    padding: 10px;
}

.text{
    
    margin: 10px;
    text-align: justify;
}

a{
    user-select: none;
    text-decoration: none;
    color: var(--a-color);
}

.ker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.kerovi{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
.dropdown {
    color: var(--a-color);
    position: relative;
    display: flex;
  }
.dropdown-content{
  padding: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 75px;/*Udaljenost od vrha stranice*/
}
ul li{
    position: relative;
}

.dropdown-content a:hover {background-color: #ee4c4c;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown:hover .dropdown-content li, li a{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropdown a{
    width: 100%;
}
h1, h2{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.text::first-letter{
    font-size: 25px;
}
hr{
    margin: 10px;
}